data/experiment/adjectives/wiktionary_adj.txt
data/experiment/substantives/wiktionary_sub.txt
data/experiment/verbs/dewiktionary-flexion_forms-verben.txt
data/experiment/verbs/inflected_verbs.txt
data/experiment/verbs/verbs.txt
